.image_info {
  padding: 70px 0px 0px 70px;
}

.image_info h2 {
  margin: 40px 0px 20px 0px;
}

.image_info button {
  margin-top: 40px;
  padding: 10px 30px;
  font-weight: bold;
  color: black;
}

.image_info span {
  background: #f7feff;
  padding: 2px 5px;
}

.second_image .image_info, .third_image .image_info {
  padding: 30px 0px 0px 30px;
}

.second_image .image_info button, .third_image .image_info button {
  background: transparent;
  border: none;
  text-decoration: underline;
  padding: 0px;
  margin-top: 20px;
}

.second_image .image_info h5, .third_image .image_info h5 {
  font-size: 15px;
}

.third_image .image_info h5 b {
  color: #fa516e;
}

.second_image .image_info h5 b {
  color: blue;
}

.second_image .image_info h4, .third_image .image_info h4 {
  margin: 20px 0px 20px 0px;
}

.images_section {
  padding: 50px 0px;
  background: #e3e3ff;
}

.first_image {
  width: 100%;
  height: 800px;
  background-image: url('img/image_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.second_image {
  width: 100%;
  height: 392.5px;
  background-image: url('img/image_2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.third_image {
  width: 100%;
  height: 392.5px;
  background-image: url('img/image_3.webp');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.categories_btn span {
  display: inline-block;
  margin-left: 40px;
}

.categories_btn span i:last-child {
  margin-bottom: 0px;
}

.categories_btn span i {
  width: 20px;
  height: 1px;
  background: white;
  display: block;
  margin-bottom: 7px;
}

.categories_btn button:focus {
  outline: none;
  box-shadow: none;
}

.header_menu_section nav {
  padding-right: 0px;
  padding-left: 0px;
}

.categories_btn button {
  padding: 12px 20px;
  color: white;
  background: #fa516e;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.company_info_section .header_tel_section, .company_info_section .header_mail_section, .company_info_section .header_logo_section {
  display: flex;
  align-items: center;
}

.header_icons_section i {
  padding-left: 20px;
  padding-right: 5px;
  cursor: pointer;
}

.header_icons_section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_tel_section a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.header_mail_section a {
  color: black;
  text-decoration: underline;
}

.company_info_section, .company_info_section .row {
  height: 90px;
}

.company_info_section, .header_menu_section {
  border-bottom: 1px solid #dddddd;
}

.company_info_section span {
  display: block;
}

.search_form i {
  position: absolute;
  right: 35px;
  cursor: pointer;
}

nav ul li a {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

nav #header_menu ul li.active a {
  color: #fa516e;
}

.header_info {
  background-color: black;
  height: 50px;
}

.header_info .header_info_left ul li a {
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header_info .header_info_left ul {
  padding: 0px;
}

.header_info .header_info_right ul li .dropdown-menu a {
  color: black;
}

.header_info .header_info_right ul li a {
  color: white;
  font-weight: normal;
}

.header_info .header_info_left ul li {
  padding-right: 15px;
  display: inline-block;
  height: 50px;
}

.header_info_right i {
  padding-right: 10px;
}

.header_info_right {
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
}
.text1 {
  display: flex;
  margin-top: 1rem;
}

#content1 {
  display: flex;
  flex-direction: row;
}

#content1 img {
  width: 100%;
  height: 70%;
  margin: 5px;
  border-radius: 2%;

}
.article{
  background-color:#e3e3ff;
}
.png {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 3rem;
  background-color: rgb(37, 37, 37);
  margin-top: 3rem;
  display: flex;
  color: white;
}

/*Bottom input section*/
.postcard {
  height: 6.25rem;
  display: inline-block;
  color: white;
}

.posttext {
  margin-top: 1.5rem;
  margin-left: 1rem;
  line-height: 0.7rem;
}

.input {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.btn2 {
  width: 10rem;
  height: 3rem;
  margin-left: 1rem;
}

.media {
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.fa1 {
  margin-left: 2rem;
}
#sponsors{
  display: flex;
  justify-content: space-between;
}
.sponsors-img
{
  width: 15%;
}
contact-container
{
  display: flex;
  
}
#store-information
{
    margin-right: 25px;
}




